// @use "../shared" as *;
// @use "../abstracts" as *;
// @use "../base" as *;

$color-light-gray: #f2f2f2;
$color-light-gray-darker: #f7f7f8;
$color-red: #ce1b22;
$color-black: #000000;
$color-white: #fefefe;

$font-archivo: "Archivo";
$font-bebas-neue: "Bebas Neue";
$font-instrument-serif: "Instrument Serif";

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.hero__card {
  position: relative;
  width: 39.6rem;
  height: 69.5rem;
  will-change: transform;
  z-index: 10;
}

.hero__card__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  will-change: transform;
  overflow: hidden;

  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}

.hero__card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
  color: $color-white;
  z-index: 2;

  max-width: 1400px;
  margin: 0 auto;


  @media (max-width: 1024px) {
    width: 96%;
  }
  

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    font-size: 3.5rem;
    color: $color-light-gray;
    font-family: $font-archivo, sans-serif;
    font-weight: 400;
    font-style: normal;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
}

.hero__intro__text__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  z-index: 10;
}

.hero__intro__text {
  // flex: 1;
  position: relative;
  will-change: transform;

  &:first-child {
    display: flex;
    justify-content: flex-end;
  }

  &--left {
    font-size:7.5rem;
    width: 30.6rem;
    font-family: $font-bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }
  &--right {
  font-weight: 400;
  font-style: normal;
  // line-height: 7.3rem;
  font-size: 4rem;
  width: 30.6rem;
  top: -0.65rem;
  line-height: 1.2;
  }
}

.hero__card__initial {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 3.7rem;

  .hero__card__initial__header {
    font-size: 1rem;
    line-height: 1;
    width: fit-content;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: $color-light-gray;
    text-shadow: 0 0 4px rgba(242, 242, 242, 0.75);

    &::after {
      content: "";
      display: block;
      width: 0.53rem;
      aspect-ratio: 1 / 1;
      background: $color-light-gray;
    }
    &::before {
      content: "";
      display: block;
      width: 0.53rem;
      aspect-ratio: 1 / 1;
      background: $color-light-gray;
    }
  }
  .hero__card__initial__main {
    line-height: 1;
    color: white;
    font-family: $font-bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.2rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }
  .hero__card__initial__footer {
    font-size: 1rem;
    line-height: 1;

    span {
      line-height: 1;
    }
  }
}
.text-white {
  color: $color-white;
}




[data-3d-hover-target] {
  transform: perspective(50vw);
  transform-style: preserve-3d;
  will-change: transform;
}
[data-3d-hover-inner="layer-1"] {
  transform: translateZ(2vw);
}
[data-3d-hover-inner="layer-2"] {
  transform: translateZ(5vw);
}
[data-3d-hover-inner="layer-3"] {
  transform: translateZ(6vw);
}
[data-3d-hover-inner="layer-4"] {
  transform: translateZ(8vw);
}


.hero__card__content__button {
  position: absolute;
  bottom: 0px;
  top: inherit;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(180px);
  font-size: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  .rotate-180{
    transform: rotate(90deg);
    display: block;
  }
}