// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// NProgress Custom Styles (hidden - only used for tracking)
#nprogress {
  pointer-events: none;
  display: none; // Hide since we have full-screen loader
}

#nprogress .bar {
  background: #ff6b4a;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  display: none; // Hide since we have full-screen loader
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff6b4a, 0 0 5px #ff6b4a;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

